{% extends  "site/base.html" %}
{% load static %}



{% block content %}
<div class="head-section">
    <div class="center-head">

        <img src="{% static 'img/icons/roda.png' %}" alt="" srcset=""><h1>Escolha a data</h1> <img src="{% static 'img/icons/roda.png' %}" alt="" srcset="">
    </div>
    
</div>


<!-- <div class="head-section">
    <div  class="  center-head">
        <div>
            <button id="mes_ativo" class="botoes botao_ativo">Mês</button>

            <button id="dia_ativo"class="botoes">Dia</button>
        </div>
        
    </div>
    
</div> -->

<div class="head-section">
    <div style="flex-direction: column; align-items:center;" class="center-head">
        <!-- <div class="ano-carrosel">
            
            <button class="botoes_ano">2022</button>
            <button class="botoes_ano">2022</button>
            <button class="botoes_ano">2022</button>
            <button class="botoes_ano">2022</button>
            <button class="botoes_ano">2022</button>
            <button class="botoes_ano">2022</button>
            
        </div> -->
        
        <!-- <div id="mes" class=" carrocel-mes">
            
            
        </div>
        <div id="mes_dia"  class="carrocel-dia none">
            {% for i in semana_dia %}
            <div>
                <h5 class="semana">{{i.semana}}</h5>
                <input style="text-align: center;width: 40px;
                height: 40px;
                margin: 4px;
                background-color: #FFFFFF;
                border: 0.01px solid #8C322A;
                color: #8C322A;
                border-radius: 10px;
                cursor: pointer;" class="botoes_dia" 
                value="{{i.dia}}" />
            </div> 
            {% endfor %}
        </div> -->
        <h1>Serviço</h1>
        {% for serv in servico %}
        <a class="link_servico" href="">
            <div class="servico">
                <div >
                    <img class="icone_servico" src="{{serv.imagen.url}}" alt="" srcset="">
                    <div>
                        <h4>{{ serv.titulo }}</h4>
                        <p style="max-height: 40px;">Descrição:{{serv.descricao}} </p>
                    </div>
                </div>    
            </div>

        </a>
        {% endfor %}
        <form class="data_agendamento" action="{% url 'agendar' %}" method="post">
                {% csrf_token %}
            <h1>Escolha uma data</h1>
            <input class="input_data" type="text" name="data" id="" placeholder="Digite uma data" onfocus="(this.type='date')">
            <h1>Selecione um horario</h1>
            {% for serv in servico %}
            <input type="hidden" name="servico" value="{{serv.id}}">
            {% endfor %}
            <div class="col-sm-6 mb-3 mb-sm-0">
                <select class="input_data" aria-label="Default select example" name="hora">
                    <option class="input_data" selected>Selecione um horario</option>
                    {% for hora in horarios %}
                    <option class="input_data" selected>{{hora.inicio}}</option>
                    {% endfor %}

                  </select>
            </div>
            <input style="width: 100%; height:40px; margin-top: 30%;" class="login_entrar" type="submit" value="Confirmar">
        </form>
              
    </div>
            
    </div>
    


    <!-- <div class="horarios">
        <a href="#">
            <div class="horario horario_ativo">
                <h3 class="h3_ativo">11:00 PM</h3>
            </div>
        </a>

        {% for hora in horarios %}
        <a href="#">
            <div class="horario">
                <input type="hidden" value="{{hora.fim}}" name="">
                <h3>{{hora.fim}}</h3>
            </div>
        </a>
        {% endfor %}

        
    </div> -->
    
</div>

<script src="{% static 'assets/js/jquery.js' %}"></script>
<script src="{% static 'assets/js/script.js' %}"></script>
<script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<script>
    $(document).ready(function(){

       

        $("#mes").html(`
        {% for i in mes %}
        <input style="text-align: center;width: 40px;
                height: 40px;
                margin: 4px;
                background-color: #FFFFFF;
                border: 0.01px solid #8C322A;
                color: #8C322A;
                border-radius: 10px;
                cursor: pointer;" class="botoes_mes" 
                value="{{i}}" />
        {% endfor %}
        `)

        $(document).on('click', '[class^="botoes_mes"]', function(e) {
                $(".botoes_mes").removeClass("botoes_mes_ativo")
                $(this).addClass("botoes_mes_ativo")
                $("#mes_ativo").removeClass("botao_ativo")
                $("#dia_ativo").addClass("botao_ativo")
                $("#mes_dia").removeClass("none")
                $("#mes").addClass("none")
                $("#carrosel_dia").trigger('click');
                var mes = $(this)
                console.log(mes.val())
        })

        $(document).on('click', '[class^="botoes_dia"]', function(e) {
                var mes = $(this)
                console.log(mes.val())
        })

        


  $('.carrocel-mes').slick({
    infinite: true,
    slidesToShow: 6,
    slidesToScroll: 9,
    prevArrow: '<img class="seta_carrocel" src="{% static "img/icons/seta_esquerda.png" %}" alt="" srcset="">',
    nextArrow: '<img class="seta_carrocel" src="{% static "img/icons/seta_direita.png" %}" alt="" srcset="">',
    
    });

    $('.ano-carrosel').slick({
    infinite: true,
    slidesToShow: 3,
    slidesToScroll:4,
    prevArrow: '<img class="seta_carrocel" src="{% static "img/icons/seta_esquerda.png" %}" alt="" srcset="">',
    nextArrow: '<img class="seta_carrocel" src="{% static "img/icons/seta_direita.png" %}" alt="" srcset="">',
    
    });

    $('.carrocel-dia').slick({
    infinite: true,
    slidesToShow: 8,
    slidesToScroll:6,
    prevArrow: '<img id="carrosel_dia" class="seta_carrocel" src="{% static "img/icons/seta_esquerda.png" %}" alt="" srcset="">',
    nextArrow: '<img class="seta_carrocel" src="{% static "img/icons/seta_direita.png" %}" alt="" srcset="">',
    
    });
    
});
</script>


{% endblock %}