{% extends  "site/base.html" %}
{% load static %}



{% block content %}
<div class="head-section">
    <div class="center-head">

        <img src="{% static 'img/icons/roda.png' %}" alt="" srcset=""><h1>Escolha a data</h1> <img src="{% static 'img/icons/roda.png' %}" alt="" srcset="">
    </div>
    
</div>


<div class="head-section">
    <div  class="  center-head">
        <div>
            <button id="mes_ativo" class="botoes botao_ativo">Mês</button>

            <button id="dia_ativo"class="botoes">Dia</button>
        </div>
        
    </div>
    
</div>

<div class="head-section">
    <div style="flex-direction: column; align-items:center;" class="center-head">
        <!-- <div class="ano-carrosel">
            
            <button class="botoes_ano">2022</button>
            <button class="botoes_ano">2022</button>
            <button class="botoes_ano">2022</button>
            <button class="botoes_ano">2022</button>
            <button class="botoes_ano">2022</button>
            <button class="botoes_ano">2022</button>
            
        </div> -->
        
        <div id="mes" class=" carrocel-mes">
            
            
        </div>
        <div id="mes_dia"  class="carrocel-dia none">
            {% for i in semana_dia %}
                    <a>
                        <h5 class="semana">{{i.dia}}</h5>
                        <button class="botoes_mes">{{i.semana}}</button>
                    </a> 
                {% endfor %}
        </div>
            
              
    </div>
            
    </div>


    <div class="horarios">
        <a href="">
            <div class="horario">
                <h3>11:00</h3>
            </div>
        </a>

        <a href="">
            <div class="horario horario_ativo">
                <h3 class="h3_ativo">11:00 PM</h3>
            </div>
        </a>

        <a href="">
            <div class="horario">
                <h3>11:00</h3>
            </div>
        </a>

        <a href="">
            <div class="horario">
                <h3>12:00</h3>
            </div>
        </a>

        <a href="">
            <div class="horario">
                <h3>13:00</h3>
            </div>
        </a>
    </div>
    
</div>

<script src="{% static 'assets/js/jquery.js' %}"></script>
<script src="{% static 'assets/js/script.js' %}"></script>
<script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<script>
    $(document).ready(function(){

       

        $("#mes").html(`
        {% for i in mes %}
        <button class="botoes_mes">{{i}}</button>
        {% endfor %}
        `)

        $(document).on('click', '[class^="botoes_mes"]', function(e) {
                $(".botoes_mes").removeClass("botoes_mes_ativo")
                $(this).addClass("botoes_mes_ativo")
                $("#mes_ativo").removeClass("botao_ativo")
                $("#dia_ativo").addClass("botao_ativo")
                $("#mes_dia").removeClass("none")
                $("#mes").addClass("none")
        })


    

    function tornaAtivo(e){
            e.addClass("botoes_mes_ativo")
        }
  $('.carrocel-mes').slick({
    infinite: true,
    slidesToShow: 6,
    slidesToScroll: 9,
    prevArrow: '<img class="seta_carrocel" src="{% static "img/icons/seta_esquerda.png" %}" alt="" srcset="">',
    nextArrow: '<img class="seta_carrocel" src="{% static "img/icons/seta_direita.png" %}" alt="" srcset="">',
    
    });

    $('.ano-carrosel').slick({
    infinite: true,
    slidesToShow: 3,
    slidesToScroll:4,
    prevArrow: '<img class="seta_carrocel" src="{% static "img/icons/seta_esquerda.png" %}" alt="" srcset="">',
    nextArrow: '<img class="seta_carrocel" src="{% static "img/icons/seta_direita.png" %}" alt="" srcset="">',
    
    });

    $('.carrocel-dia').slick({
    infinite: true,
    slidesToShow: 8,
    slidesToScroll:6,
    prevArrow: '<img class="seta_carrocel" src="{% static "img/icons/seta_esquerda.png" %}" alt="" srcset="">',
    nextArrow: '<img class="seta_carrocel" src="{% static "img/icons/seta_direita.png" %}" alt="" srcset="">',
    
    });
    
});
</script>


{% endblock %}