{% extends  "site/base.html" %}
{% load static %}



{% block content %}

<section class="">
    <form class="cadastrar_cliente" action="{% url 'cadastrar_cliente' %}" method="post">
        {% csrf_token %}
        <h1>App Service</h1>
        <div class="campo_input">
            <div>
                <label>Nome</label>
            </div>
            
            <input type="text" placeholder="Digite seu nome!" name="nome" id="">
        </div>
            
        <div class="campo_input">
            <div>
                <label>E-mail</label>
            </div>
            <input type="email" placeholder="Digite seu e-mail!" name="email" id="">
        </div>
        <div class="campo_input">
            <div>
                <label>Whatsapp</label>
            </div>
            <input type="text" placeholder="Digite seu Whatsapp!" name="whapp" id="">
        </div>
        <div class="campo_input">
            <div>
        
                <label>Senha</label>
            </div>
            <input type="password" placeholder="Digite sua senha!" name="senha1" id="">
        </div>
        <div class="campo_input">
            <div>
        
                <label for="senha2">Repita sua senha</label> 
            </div>
        
            <input type="password" placeholder="Digite sua senha!" name="senha2" id="">
        </div>
    
            <input class="login_entrar" type="submit" value="Cadastrar!">        
    </form>
</section>

{% endblock %}