{% extends  "site/base.html" %}
{% load static %}



{% block content %}

<div class="container_sercico">
    <div class="body_servico">
        <h1>Serviços</h1>
        <a class="link_servico" href="">
            <div class="servico">
                <div >
                    <img class="icone_servico" src="https://tse2.mm.bing.net/th?id=OIP.CfBvLar9-cObrXhUkMHZ1AHaHa&pid=Api&P=0" alt="" srcset="">
                    <div>
                        <h4>Serviço</h4>
                        <p style="max-height: 40px;">Descrição: sssssss ssss sss ssd sssss ssss sssss ssss ssss ssssss sssss sssssss</p>
                    </div>
                </div>
                
                <img class="seta_direita" src="{% static 'img/icons/seta_direita.png' %}" alt="" srcset="">
    
            </div>

        </a>

        <a class="link_servico" href="">
            <div class="servico">
                <div >
                    <img class="icone_servico" src="https://tse2.mm.bing.net/th?id=OIP.CfBvLar9-cObrXhUkMHZ1AHaHa&pid=Api&P=0" alt="" srcset="">
                    <div>
                        <h4>Serviço</h4>
                        <p style="max-height: 40px;">Descrição: sssssss ssss sss ssd sssss ssss sssss ssss ssss ssssss sssss sssssss</p>
                    </div>
                </div>
                
                <img class="seta_direita" src="{% static 'img/icons/seta_direita.png' %}" alt="" srcset="">
    
            </div>

        </a>

        <a class="link_servico" href="">
            <div class="servico">
                <div >
                    <img class="icone_servico" src="https://tse2.mm.bing.net/th?id=OIP.CfBvLar9-cObrXhUkMHZ1AHaHa&pid=Api&P=0" alt="" srcset="">
                    <div>
                        <h4>Serviço</h4>
                        <p style="max-height: 40px;">Descrição: sssssss ssss sss ssd sssss ssss sssss ssss ssss ssssss sssss sssssss</p>
                    </div>
                </div>
                
                <img class="seta_direita" src="{% static 'img/icons/seta_direita.png' %}" alt="" srcset="">
    
            </div>

        </a>
        
    </div>
    
</div>

{% endblock %}