*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    height: 100%;
}

.form_login{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}
h1,h4{
    color: #8C322A;
}

.form_login h1{
    font-size: 40px;
    font-weight: bold;
    margin: 2%;
}

.form_login h4{
    font-size: 25px;
    font-weight: 530;
}

.form_login input{
    max-width: 300px;
    min-width: 230px;
    width: 50%;
    margin: 1%;
    padding: 12px;
    height: 40px;
    border-radius: 8px;
    border: 0.2px solid #6E6E6E;
    font-size: 20px;
    color: #8C322A;
}

.form_login span{
    font-size: 13px;
    color: black;
    font-weight: bold;
}

.form_login a{
    text-decoration: none;
    color: blue;
}

.login_entrar{
    color: #FFFFFF !important;
    background-color: #8C322A;
    cursor: pointer;
}

.login_cadastrar{
    max-width: 230px;
    min-width: 190px;
    width: 50%;
    margin: 40px;
    height: 40px;
    border-radius: 8px;
    border: 0.2px solid #6E6E6E;
    font-size: 20px;
    color: #8C322A;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F2F2F2;
}

.olho_fechado{
    margin-left: -12%;
    align-items: center;
}

.cadeado{
    margin-right: -13px;
    margin-top: 10px;
    position: absolute;
}



.form_login div label{
    color: #8C322A;
    font-size: 20px;
    font-weight: bold;
    margin: 2%;
}

.form_login div input{
    max-width: 300px;
    min-width: 230px;
    width: 50%;
    margin: 1%;
    padding: 12px;
    height: 40px;
    border-radius: 8px;
    border: 0.2px solid #6E6E6E;
    font-size: 20px;
    color: #8C322A;
}

.cadastrar_cliente{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cadastrar_cliente input{
    max-width: 300px;
    min-width: 230px;
    width: 50%;
    margin: 1%;
    padding: 12px;
    height: 40px;
    border-radius: 8px;
    border: 0.2px solid #6E6E6E;
    font-size: 20px;
    color: #8C322A;
}

.center-head{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 4px;
    max-width: 400px;
    margin: 0 auto;
}
/* 
.head-section{
    display: flex;
    align-items: center;
    justify-content: space-around !important;
} */

.head-section img{
    max-width: 40px;
}


.campo_input{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.campo_input div, .campo_input input{
    width: 100%;
    max-width: 300px;
}

.campo_input div label{
    font-weight: 900;
    color: #8C322A;
}


.container_sercico{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 2.9%;
}

.body_servico{
    max-width: 400px;
    width: 100%;
    display: flex;
    padding: 2%;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.link_servico{
    width: 100%;
    text-decoration: none
}

.servico{
    border-radius: 10px;
    height: 60px;
    max-width: 400px;
    margin: 2%;
    padding: 1%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ccc;
    cursor: pointer;
}

.icone_servico{
    width: 100%;
    height: auto;
    max-width: 40px;
    margin: 1%;
}

.servico div div p{
    color: #8C322A;
}

.servico div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.servico div div{
    margin: 1%;
    display: flex;
    max-width: 400px;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.seta_direita{
    color: #8C322A;
    width: 100%;
    height: 30px;
    max-width: 29px;
    margin: 1%;
}

.botoes{
    width: 200px;
    padding: 2%;
    border: 0.2px solid #8C322A;
    border-radius:4px ;
    color: #8C322A;
    font-size: 20px;
    font-weight: 500;
    background-color: #FFFFFF;
    margin: 2%;
}

.botao_ativo{
    background-color: #8C322A;
    color: #FFFFFF;
}

.botoes_mes_ativo{
    background-color: #8C322A !important;
    color: #FFFFFF !important;
}


.botoes_mes{
    width: 40px;
    height: 40px;
    margin: 4px;
    background-color: #FFFFFF;
    border: 0.01px solid #8C322A;
    color: #8C322A;
    border-radius: 10px;
}

.botoes_ano{
    width: 40px;
    height: 40px;
    margin: 4px;
    border: 0.01px solid transparent;
    border-radius: 10px; 
    background: transparent;
    font-size: 18px;
    color: #8C322A;
}

.ano{
    width: 100%;
    text-align: center;
}

.center-head div{
    display: flex;
}

.carrocel-mes{
    max-width: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.carrocel-dia{
    max-width: 400px;
    width: 100%;
    display: flex;
    align-items: center;
}

.carrocel-dia div{
   width: 100%;
   max-width: 400px;
}

.none{
    display: none !important;  
}

.ano-carrosel{
    max-width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.seta_carrocel{
    width: 20px;
    height: 20px;
}

.semana{
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.horarios{
    margin: 0 auto;
    max-width: 400px;
    width: 100%;
    display: flex;
    padding: 2%;
    align-items: flex-start !important;
    justify-content: space-between;
    flex-direction: column;
}

.horarios a{
    text-decoration: none;
    border-left: solid 8px #8C322A;
    border-radius: 3px;
    color: #8C322A;
    width: 100%;
    margin: 2%;
    display: flex;
    align-items: center;
    height: 60px;
}

.horario{
    margin: 4%;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
}
.horario_ativo{
    background-color: #8C322A;
    width: 100%;
    border-radius: 3px;
    padding: 2px;
}

.h3_ativo{
    border-radius: 3px;
    color: #FFFFFF;
}

.btn_pagamento{
    max-width: 280px;
    margin-top: 50px;
    width: 100%;
    padding: 30px;
    border-radius: 8px;
    border: none;
    color: #8C322A;
    font-weight: bold;
    font-size: 35px;
    background-color: rgb(110, 110, 110,.5);
}

.botoes_metodos{
    width: 100px;
    height: 50px;
    background:  #FFFFFF;
    border: solid 0.1px #8C322A;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.botoes_metodos_ativo{
    width: 100px;
    height: 50px;
    background:  #8C322A;
    color: #FFFFFF !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.metodo_cartao{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.formulario_pagamento{
    margin: 0 auto;
    max-width: 390px;
    padding: 10px;
}

.validade{
    width: 120px;
    margin-right: 10px;
}

.codigo{
    width: 120px;
}

.label_pagamento{
    color: #8C322A;
    font-weight: bold;
}

.input_pagamento{
    height:30px;
    border: solid 0.1px #8C322A;
    border-radius: 4px;
}

.validade_data{
    display: flex;
}


.pagar{
    background-color: #8C322A;
    color: #FFFFFF;
    width: 120px;
    height:30px;
    border: solid 0.1px #8C322A;
    border-radius: 4px;
    margin-top: 10px;
}