            
{% extends  "admin/base.html" %}
{% load static %}



{% block content %}
<h1 class="h3 mb-2 text-gray-800">Criar Serviço</h1>
<small>Preecha o formulario</small>
<br>

<form class="user" action="{% url 'criar_servicos' %}" method="post" enctype="multipart/form-data">

    {% csrf_token %}
        <div class="form-group row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <input type="text" class="form-control " id="exampleFirstName" name="titulo"
                    placeholder="Titulo">
            </div>
            <div class="col-sm-6">
                <input type="text" class="form-control " id="exampleLastName" name="preco"
                    placeholder="Preço">
            </div>
            
        </div>

        <div class="form-group row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <input type="number" class="form-control " id="exampleFirstName" name="duracao"
                    placeholder="Duração">
            </div>
            <div class="col-sm-6">
                <input type="number" class="form-control " id="exampleLastName" name="comissao"
                    placeholder="Comissão">
            </div>
            
        </div>
        <div class="form-group row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <input type="text" class="form-control" name="descricao"
                    id="exampleInputPassword" placeholder="Descrição">
            </div>
            <div class="col-sm-6 mb-3 mb-sm-0">
                <input type="file" class="form-control filestyle" name="imagen"
                    id="exampleInputPassword" placeholder="Icone">
            </div>
        </div>

        <input class="btn btn-primary"type="submit" value="Criar Serciço">
  
    
</form>

{% endblock %}