{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}



    <h1>Lista Serviços</h1>

    <table class="table table-sm">
        <thead>

            <th>#</th>
            <th>Icone</th>
            <th>Titulo</th>
            <th>Preço</th>
            <th>Duração</th>
            <th>Descrição</th>
            <th>Comissão</th>
            <th>Ações</th>
        </thead>
        <tbody>
            {% for servico in servicos %}
            <tr>
                <th>{{servico.id}}</th>
                <th>
                    <img width="60px" height="auto" src="{{servico.imagen.url}}" alt="">
                    </th>
                <td>{{servico.titulo}}</td>
                <td>{{servico.preco}}</td>
                <td>{{servico.duracao}}</td>
                <td>{{servico.descricao}}</td>
                <td>{{servico.comissao}}</td>

                <td>
                    <a type="button" class="btn btn-primary"href="#">Editar</a><br>
                    <a type="button" class="btn btn-danger" href="#">Excluir</a>
                </td>
            </tr>
            
            {% endfor %}
        </tbody>
    </table>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      md.initDashboardPageCharts();

    });
  </script>

{% endblock javascripts %}